@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", Arial;
  background: #EDEDED;
}
main {
  width: 1080px;
  margin: 10px auto;
  padding: 10px 20px 30px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
}
p {
  margin-top: 2rem;
  font-size: 13px;
}
#chart_div {
  width: 800px;
  height: 400px;
  position: relative;
}

#stacked{
  width: 1080px;
  position: relative;
}

#barras_horizontales {
  width:1080px;
  position: relative;
}
#bar-chart {
  width: 1080px;
  height: 500px;
  position: relative;
}

#pie-chart {
  width: 1080px;
  height: 500px;
  position: relative;
}